Data/
*.tif
*.tiff
*.pkl
*.jpg
__pycache__/
*.pth
*.unet
TrainedModels/
DepreciatedFiles/
test.py
generate_mask.py
runs/
Images/
TrainedModels/
savefile.py
maskfiles/
.ipynb_checkpoints/
Tile10Mar2/
*.ipynb
*.maskpart
valscripts/figures.py
*.png
*.jpeg
old\ runs/
valscripts/quick_validate.py
valscripts/
*.pdf
*.gv
*.pa
*.plotarchive
